div(class="columns small-2")
    label 选择部署平台
    select(name="platform" class="platform")
        option(value="app-site") PC(app-site)
        option(value="app-crm") CRM(app-crm)
        option(value="app-platform") BOSS(app-platform)
        option(value="app-bureau") 生态圈(app-bureau)
        option(value="retrx-mgt") 交易(retrx-mgt)
        option(value="newboss") 新房Boss(newboss)
div(class="columns small-2")
    label 选择部署环境
    select(name="deployment" class="deployment")
        option(value="production") production
        option(value="dev") dev
        option(value="alpha") alpha
        option(value="master") master
div(class="columns small-2")
    label 输入分支
    input(
        type="text"
        name="branch"
        class="branch"
        value="master"
    )

div(class="columns small-2 text-warning message")