doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src='/libs/jquery/dist/jquery.min.js')
    body
        block content
        script(src='/javascripts/main.js')


