.card{
    padding: 2rem;
    width: 20rem;
    text-align: center;
    background: #ccc;
    display: inline-block;
    border-radius: .5rem;
    font-size: 2rem;
}

.button-rebuild{
    margin-left: 1rem
}

